---
import SocialLinks from './SocialLinks.astro';
---
<footer>
  <div class="wrap">
    <div class="foot-grid">
      <div class="foot-brand">
        <a class="logo" href="/">
          <img class="mark" src="/assets/icons/mark.png" alt="" aria-hidden="true">
          <b>Isogun Labs</b>
        </a>
        <p>An independent software studio building small, focused apps for Atlassian and Jira.</p>
        <SocialLinks />
      </div>
      <div class="foot-col">
        <h4>Products</h4>
        <a href="https://recap.isogunlabs.com/">Recap for Jira</a>
        <a href="/get-started/">Get Started</a>
        <a href="/documentation/">Documentation</a>
      </div>
      <div class="foot-col">
        <h4>Studio</h4>
        <a href="/#approach">What we do</a>
        <a href="/#about">About</a>
        <a href="mailto:support@isogunlabs.com">Contact</a>
      </div>
      <div class="foot-col">
        <h4>Connect</h4>
        <a href="https://www.linkedin.com/company/isogun-labs" target="_blank" rel="noopener">LinkedIn</a>
        <a href="https://x.com/isogunlabs" target="_blank" rel="noopener">X (Twitter)</a>
        <a href="https://www.instagram.com/isogunlabs/" target="_blank" rel="noopener">Instagram</a>
        <a href="https://www.youtube.com/@isogunlabs" target="_blank" rel="noopener">YouTube</a>
      </div>
    </div>
    <div class="foot-bottom">
      <span class="disc">© 2026 Isogun Labs. All rights reserved.</span>
    </div>
  </div>
</footer>
